__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
build/
dist/
*.log
*.lock
*.pth
*.env
.env
venv/
.venv/
__pycache__/
*.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
